// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import './components/all';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.margin-top-15{
    margin-top: 15vh;
}

.margin-top-10{
    margin-top: 10vh;
}

.margin-top-5{
    margin-top: 5vh;
}

.margin-bottom-10{
    margin-bottom: 10vh;
}

.datepicker-dropdown{
    top: 140px !important;
}

.justify-content-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btn-add{
    background-color: #0b5ed7 !important;
}

nav{
    z-index: 999 !important;

    .navbar-brand{
        color: #0b5ed7;
        font-weight: bold;
    }
}